@page "/Articulo/Create"
@using TecnicosRegistro.Models
@using TecnicosRegistro.Service
@inject ArticuloService articuloService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Create</PageTitle>
<EditForm Model="Articulo" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    @*Formulario*@
    <div class="container">
        <div class="shadow-lg">
            @*Header*@
            <div class="card-header text-center">
                <h3><strong>Crear Artículo</strong></h3>
            </div>
            @*Body*@
            <div class="card-body">
                <div class="row">
                    @*Id*@
                    <div class="col-1">
                        <label class="form-label"><strong>ArtículoId</strong></label>
                        <InputNumber class="form-control" @bind-Value="Articulo.ArticuloId" readonly></InputNumber>
                    </div>
                    @*Descripción*@
                    <div class="col-3 ms-5">
                        <label class="form-label"><strong>Descripción</strong></label>
                        <InputText class="form-control" @bind-Value="Articulo.Descripcion"></InputText>
                        <ValidationMessage For="(()=> Articulo.Descripcion)" />
                    </div>
                    @*Costo*@
                    <div class="col-3 ms-5">
                        <label class="form-label"><strong>Costo</strong></label>
                        <InputNumber class="form-control" @bind-Value="Articulo.Costo"></InputNumber>
                        <ValidationMessage For="(()=> Articulo.Costo)" />
                    </div>
                </div>
                <div class="row mt-3">
                    @*Precio*@
                    <div class="col-3 ms-5">
                        <label class="form-label"><strong>Precio</strong></label>
                        <InputNumber class="form-control" @bind-Value="Articulo.Precio"></InputNumber>
                        <ValidationMessage For="(()=> Articulo.Precio)" />
                    </div>
                    @*Existencia*@
                    <div class="col-3 ms-5">
                        <label class="form-label"><strong>Existencia</strong></label>
                        <InputNumber class="form-control" @bind-Value="Articulo.Existencia"></InputNumber>
                        <ValidationMessage For="(()=> Articulo.Existencia)" />
                    </div>
                </div>
            </div>
            @*Footer*@
            <div class="card-footer text-center">
                <button type="button" class="btn btn-primary" @onclick="Volver">Volver</button>
                <button type="submit" class="btn btn-success">Guardar</button>
            </div>
        </div>
    </div>
</EditForm>

@code {
    public Articulo Articulo { get; set; } = new Articulo();
    public string Mensaje { get; set; } = string.Empty;

    public async Task Guardar()
    {

        var crear = await articuloService.Guardar(Articulo);

        if (crear)
            Mensaje = "Se ha creado correctamente el Artículo";
        else
            Mensaje = "No se ha creado correctamente";
    }

 
    public void Volver()
    {
        navigationManager.NavigateTo("/Articulo/Index");
    }
}
