@page "/TipoTecnico/Delete/{TipoTecnicoId:int}"
@using TecnicosRegistro.Models
@using TecnicosRegistro.Service
@inject TipoTecnicoService tipotecnicoService
@inject NavigationManager navigationManager
@rendermode InteractiveServer


<PageTitle>Eliminar Tipo T&eacute;cnico</PageTitle>
<div class="card">
	<div class="shadow-lg">
		@*Header*@
		<div class="card-header text-center">
			<div class="bg-secondary rounded text-white">
				<h3><strong>Eliminar tipo t&eacute;cnico</strong></h3>
			</div>
		</div>
		@*Body*@
		<div class="card-body">
			<div class="text-center">
				<h3><strong>¿Desea eliminar este tipo de t&eacute;cnico?</strong></h3>
			</div>
			<ul>
				<li><strong>TipoId: </strong>@TipoTecnico.TipoId</li>
				<li><strong>Descripci&oacute;n: </strong>@TipoTecnico.Descripcion</li>
			</ul>
		</div>
		@*Footer*@
		<div class="card-footer">
			<div class="text-center">
				<button type="button" class="btn btn-outline-info bi bi-arrow-90deg-left" @onclick="()=>Volver()"> Volver</button>
				<button type="button" class="btn btn-outline-danger bi bi-trash2" @onclick="()=>Eliminar()"> Eliminar</button>
			</div>
		</div>
	</div>
</div>


@code {
	[Parameter]
	public int TipoTecnicoId { get; set; }
	public TipoTecnico TipoTecnico { get; set; } = new TipoTecnico();
	public string Mensaje { get; set; } = string.Empty;

	protected override async Task OnInitializedAsync()
	{
		TipoTecnico = await tipotecnicoService.BuscarId(TipoTecnicoId);
	}

	private async Task Eliminar()
	{
		var eliminado = await tipotecnicoService.Eliminar(TipoTecnico);

		if (eliminado)
			Mensaje = "El Tipo T&eacute;cnico ha sido eliminado correctamente";
		else

			Mensaje = "No se ha podido eliminar el T&eacute;cnico";

	}

	public void Volver()
	{
		navigationManager.NavigateTo("/TipoTecnico/Index");
	}
}



}
